{% extends 'base.html' %}

{% block title %}Acerca de Natalia De Asis{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info text-white">
                <h3 class="mb-0"><i class="fas fa-user"></i> About Me</h3>
            </div>
            <div class="card-body">
                <p>Hola profe mi nombre es Natalia De Asis y soy su alumna :D</p>
                <p>Tengo 5 gatos y apruebeme por favor</p>
                <p>Me gustan los canelones y el pollo al horno</p>
            </div>
        </div>
    </div>

{% endblock %}